################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/littleEngine/v16
/x64/Debug
/DebugCmd/Debug
/DebugCmd/x64/Debug
/EngineCore/Debug
/EngineCore/x64/Debug
/WorkDir
